.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: space-between;
  margin: 7px 0px;
  text-align: center;
}

.card button {
  background-color: #008c45;
  color: #f4f5f0;
  border-radius: 5px;
}
