/* .card {
  display: flex;
  margin: 10px auto;
  justify-content: space-between;
  align-content: space-between;
  align-items: stretch;
}

button:disabled,
button:disabled:hover {
  background-color: darkgray;
  text-decoration: none;
}

img {
  align-content: space-around;
} */
