@import url("https://fonts.googleapis.com/css?family=Comfortaa|Rock+Salt");

body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rock Salt", cursive;
  letter-spacing: 2px;
}

p {
  margin-bottom: 1.5em;
}

strong {
  font-weight: bold;
}

img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}

.section-content {
  padding: 1.4em;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10px;
}
